*{
    margin: 0%;
    font-family: calibri;
}
header{
    display: flex;
    justify-content: space-between;
    background-color:#eaf1fc;
    align-items:center ;
    padding: 0px 35px;
    position: sticky;
    top: 0px;
}
.navbar{
    display: flex;
}
.navbar>li{
    list-style: none;
    margin: 25px;
}
a{
    text-decoration: none;
    color: black;
    font-family: calibri;
    font-weight: bold;
}
a:hover{
    color: rgb(7, 164, 164);
    text-decoration: underline;
}
.banner{
    height: 100vh;
    background-image: url(../images/hero4.png);
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
}
.bannertext{
    font-family: calibri;
    margin-top: 10%;
    margin-left: 10%;
}
.smallcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.scards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border:1px solid lightgrey;
    margin: 20px;
}
.scards>img{
    width: 150px;
    height: 120px;
}
button{
    width:100px ;
    display: flex;
    align-self: center;
    padding: 4px;
    border-radius: 6px;
    color:rgb(2, 115, 115);
    font-family: calibri;
    font-weight: bold;
    border: none;
}
.cardicon{
    background-color: rgb(178, 232, 214);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fcards{
    border: 2px solid snow;
    height: auto;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    font-family: calibri;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.banner2{
    background-image: url('../images/banner/b2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: calibri;
    flex-wrap: wrap;
}
h2{
    font-size: xx-large;
    text-align: center;
}
h5{
    text-align: center;
    font-size: larger;
}
.yellow{
    background-image: url('../images/banner/b17.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 45%;
    padding-top: 100px;
    padding-left:40px;
    color: white;
    display: inline-block;
}
.green{
    background-image: url('../images/banner/b10.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 45%;
    padding-top: 100px;
    padding-left:40px;
    color: white;
    display: inline-block;
}
.smallbanner{
    display: flex;
    justify-content:center;
    gap: 25px;
    height: 380px;
}
.sscards{
    display: flex;
    justify-content: center;
}
.ssc1{
    background-image: url('../images/banner/b7.jpg');
    background-size: 500px 100%;
    width: 30%;
    height: 180px;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-left: 25px;
}
.ssc2{
    background-image: url('../images/banner/b4.jpg');
    background-size: 500px 100%;
    background-position: top;
    width: 30%;
    height: 180px;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-left: 25px;
    margin: 0px 10px;
}
.ssc3{
    background-image: url('../images/banner/b18.jpg');
    background-size: 500px 100%;
    background-position: center;
    width: 30%;
    height: 180px;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-left: 25px;
}
.sscards h3{
    color: white;
    font-size: 40px;
}
.sscards span{
    color: brown;
    font-weight: bold;
}
.signbox{
    background-color: darkblue;
    height: 120px;
    width: 100%;
    background-image: url('../images/banner/b14.png');
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 450px;
}
.box{
    display: flex;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin: 65px 0px;
}
.contact{
    line-height: 45px;
}
.contact>img{
    height: 15px;
    width: 15px;
}
.about>ul{
    display: flex;
    flex-direction: column;
}
.account>ul{
    display: flex;
    flex-direction: column;
}
.apps>ul{
    display: flex;
    flex-direction: column;
}
#playImgs{
    display: flex;
}
li>.img24{
    width: 50%;
    border:2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
li>.img25{
    width: 50%;
    border:2px solid black;
    margin-left: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.footer li{
    list-style: none;
    line-height: 40px;
}
.apps li{
    line-height: 50px;
}

/* Toggle menu */
.sub-menu-1 ul {
    display: none;
    background-color: #eaf1fc;
    width: 100%;
    position: absolute;
    top: 40px;
    right: 0;
    text-align: center;
}
li{
    list-style: none;
}
.menu-bar:hover ul {
    display: block;
    cursor: pointer;
}
.sub-menu-1 ul li {
    padding: 10px;
    list-style: none; 
}
.sub-menu-1 ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-weight: bold;
}
.fa-bars {
    font-size: 24px;
}

/* Media Querry */
@media screen and (max-width : 1270px){
    .bannertext{
        font-size: small;
    }
    #playImgs{
        display: flex;
        flex-direction: row;
        width: 30%;
    }
}
@media screen and (max-width : 1190px){
    .banner2{
        font-size: smaller;
    }
    .scards{
        width: 10%;
    }
    .scards img{
        width: 100%;
    }
    .scards button{
        width: 100%;
        font-size: xx-small;
    }
    .signbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
        font-size: smaller;
    }
    .signbox .box{
        margin: 10px;
    }
}
@media screen and (max-width:780px) {
    .navbar{
        display: none;
    }
    .navbar{

    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 65px 0px;
    }
}
@media screen and (max-width : 520px){
    .banner2>strong{
        font-size: 5px;
    }
}
@media screen and (max-width : 1022px){
    .bannertext{
        font-size: 8px;
        margin-top: 15%;
    }
}
@media screen and (max-width : 652px){
    .bannertext{
        font-size: 6px;
        margin-top: 25%;
    }
    .row1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }
    .row2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .smallbanner{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30%;
        margin-bottom: 35%;
    }
    .yellow{
        width: 80%;
        padding-bottom: 20px;
    }
    .green{
        width: 80%;
        padding-bottom: 20px;
    }
    .sscards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .ssc1{
        width: 60%;
    }
    .ssc2{
        width: 60%;
    }
    .ssc3{
        width: 60%;
    }
    .signbox{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}
@media screen and (max-width : 380px){
    .smallbanner{
        margin-top: 55% !important;
        margin-bottom: 55% !important;
    }
    h2{
        font-size: large !important;
    }
    h4{
        font-size: x-small !important;
    }
}
@media screen and (max-width : 821px) {
    .bannertext{
        margin-top: 35%;
    }
}
@media screen and (max-width : 415px) {
    .bannertext{
        font-size: 5px;
        margin-top: 60%;
    }
    .bannertext .btn-banner{
        background-size: 20%;
    }
    .btn-banner>a{
        font-size: 6px !important;
        position: relative;
        left: -48px;
        top: -8px;
    }
    .smallcards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .scards{
        width: 50%;
    }
    .scards button {
        width: 50%;
        text-align: center;
    }
    .smallbanner{
        margin-top: 30%;
        margin-bottom: 45%;
    }
}
@media screen and (max-width : 281px){
    .smallbanner{
        margin-bottom: 75% !important;
    }
}