*{
    margin: 0%;
}
.tophead{
    display: flex;
    justify-content: space-around;
    background-color: rgb(254, 236, 239);
    padding: 20px;
    gap: 30%;
    font-size: small;
    font-family: sans-serif;
}
ul{
    display: flex;
    align-items: center;
}
.lcontact{
    list-style: none;
    margin: 0 10px;
}
.lsnav{
    list-style: none;
    margin: 0 10px;
}
#logo{
    width: 250px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
    font-family: calibri;
    font-weight: bold;
}
.lnavitems{
    list-style: none;
    margin: 0 20px;
}
.hicons>i{
    margin: 0px 15px;
}
.banner1{
    background-image: url(./img/bg-1.jpg);
    background-size: cover;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.ban-1{
    height: 100%;
}
span{
    font-family: sans-serif;
}
strong{
    font-size: 50px;
    font-family: sans-serif;
}
.banner1 button{
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    font-family: calibri;
    font-size: large;
    font-weight:bold;
    border: 0px;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-family: sans-serif;
    font-size: xx-large;
}
.products{
    display: inline-block;
    text-align: center;
    font-family: calibri;
}
h4{
    font-size: larger;
    font-weight: 500;
}
.cardtext{
    line-height: 30px;
}
.featuredproducts{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.banner2{
    background-color:antiquewhite;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.banner2>img{
    height:100%;
}
.banner2 strong{
    font-size: xx-large;
}
.banner2 b{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: normal;
}
.banner2 button{
    font-weight: bold;
    padding: 5px;
    border: 2px solid;
}
.mostpopular .cardtext{
    line-height: 22px;
    font-size: medium;
}
.mostpopular{
    display: flex;
    justify-content: center;
    gap: 25PX;
}
.icons4{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}
.ic4{
    border: 2px solid salmon;
    border-radius: 8px;
    padding: 20px;
}
.trendingproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row1 .products{
    margin: 0px 15px;
}
.row2 .products{
    margin: 0px 15px;
}
.trendingproducts .cardtext{
    line-height: 22px;
    font-size: medium;
}
.trendingproducts h4{
    text-align: start;
}
.trendingproducts .stars{
    text-align: start;
}
.journal{
    display: inline-block;
    line-height: 28px;
}

em{
    font-size: small;
}
.x{
    display: flex;
    align-items: center;
    gap: 10px;
}
.y{
    display: flex;
    align-items: center;
}
.xy{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: small;
    font-weight: bolder;
}
p{
    font-family: sans-serif;
}
.jrl{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.journal img{
    border-radius: 8px;
}
.journal b{
    font-weight: 100;
    font-size: small;
    font-family: calibri;
}
b span{
    color: crimson;
    font-size: xx-large;
    font-weight: bolder;
}
.followus{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.followus img{
    border-radius: 5px;
    display: inline-block;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: darkgray;
    padding: 30px;
}
footer ul{
    display: flex;
    flex-direction: column;
}
footer li{
    list-style: none;
    line-height: 40px;
    font-family: calibri;
}
li img{
    width: 120px;
    margin: 0 5px;
    border-radius: 5px;
}
.last{
    color: darkgrey;
    background-color: black;
    font-size: smaller;
    text-align: center;
    padding-bottom: 25px;
}
hr{
    width: 90%;
    margin-left: 5%;
}
@media (max-width:1100){
    .banner1{
        height: 350px;
    }
}


