.containter{
    max-width: 500px;
    /* border: 1px solid; */
    padding: 20px;
    margin: 5% auto;
    background-color: ghostwhite;
    font-weight: bold;
    font-family: calibri;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
h1{
    text-align: center;
}
label{
    display: inline-block;
    width: 150px;
}
input{
    width: 50%;
    padding: 8px;
}
#result{
    width: 95%;
}
button{
    width: 40%;
    padding: 8px;
    font-weight: bold;
    font-family: monospace;
    background-color: bisque;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}
